# main folder
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/UserSettings/
/Logs/
/MemoryCaptures/
/Screenshots/

# Unity/IDE files
*.pid
*.unityhost
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.DS_Store
*.db
*.mdb

# backup files
*.bak
*~